select{
    border: none;
    display: inline;
}
.div{
    display: inline !important;
    float: right;
    margin-right: 70px;
}
h1{
 
   margin-left: 70px;
    display: inline;
}
body{
    padding-top: 30px;
    background-color: rgb(180, 180, 180,0.1);

}
.img{
    width: 100vw;
    height: 100vh;
}

.sm{
   margin-left: 110px;
   font-size: 10px;
   color: rgb(139, 139, 139);
}
.sd{
    margin-left: 90px;
   font-size: 15px;
   color: rgb(65, 51, 255);   
}

.container{
 
   
    width: fit-content;
    height: fit-content;
    
    background-color: white;
       display: grid;
       grid-template-columns:270px 270px 270px 270px 270px ;
       grid-template-rows: 300px 300px ;
       margin: 50px auto !important;
 
     
       margin: auto;
       
    }
.item{
    border: 0.1px solid rgb(0, 0, 0,0.3);
  
}
    .iti{
        width: 100%;
        height: 200px;
    }
    span{
        text-decoration: line-through ;
    }

